{%extends "blog/base.html"%}
{%block content%}
<h1>About Me</h1>
<p>Hello readers, this is Sagar Maheshwari I am a Computer Science Student and a learner. When I started learning Web Development I was not at all sure that I will make a blog website this fast. At first I created some Front-End only webpages. This is my first website which contain both User and Client Side.</p>
<p>This is a Blogging platform where you can read different Blogs by different authors and then express your views by commenting on the same. Along, with that you can also Register yourself as an Author on our website and then you can write blogs for our readers.</p>
<p>You can Edit your Blogs later and can also approve comments on your Blog.</p>
<p>I hope you will like my work and all your suggestions are welcomed!</p>
<p>Thank you for visiting!</p>
<h1>Contact Details</h1>
<address id="address">B-185, MIG Colony, Indore(MP),452001</address>
<a style="color: black" id="phone" href="tel:+919827053300">+919827053300</a>
<div style="margin-top: 2%">
<a style="background-color: black; color: white;" href="https://www.facebook.com/sagar.maheshwari2000" class="fa fa-facebook" target="_blank"></a>
<a style="background-color: black; color: white;" href="mailto:maheshwari.sagars2000@gmail.com" class="fa fa-envelope"></a>
<a style="background-color: black; color: white;" href="https://twitter.com/robinhood_sagar" target="_blank" class="fa fa-twitter"></a>
<a style="background-color: black; color: white;" href="https://www.instagram.com/sagar__maheshwari/" class="fa fa-instagram" target="_blank"></a>
<a style="background-color: black; color: white;" href="https://www.quora.com/profile/Sagar-Maheshwari-31" class="fa fa-quora" target="_blank"></a>
</div>
{%endblock%}